<!DOCTYPE html>
<html>
<head>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed 
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
    //this from ejs variable setup
    var user = '<%= user %>';
    </script>
</head>
<body>
    <div id="app">
        <a href="/login">Discordapp Auth Login</a>
        <p>Welcome {{ user }}, bot system management for controls!</p>    
    </div>
    
    <script src="clientGuest.js"></script>
</body>
</html>